<div ng-controller="FormCtrl">
  <div>
   <div>{{error}}</div>      
   <h1>Input Your Info Form</h1>
   <div class="thing">
    <input type="text" class="form-control" ng-model="phone">phone
  </div>
  <!-- <p> you typed: {{inputText}}</p> -->
  <div class="thing">
    <input type="text" class="form-control" ng-model="email">email
  </div>
  <div class="thing">
    <input type="password" class="form-control" ng-model="password">password
  </div>
  <div class="thing">
    <input type="password" class="form-control" ng-model="reenterpassword">re-enter password
  </div>
  <button ng-click="checkInputs()">Submit
  <!-- <a href="#/search">
    go to next 
  </a> -->
  </button>
</div> 
</div>