
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Book</title>
    <!-- Link for CSS -->
    <link rel="stylesheet" type="text/css" href="contacts.css">
    <!-- Link for Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <!-- Link for my JS -->
    <script src="./contactlist.js"></script>
</head>
<body ng-app="ContactBook" ng-controller="MainCtrl">
 <div class="container">
   <div class="row">
     <div class="col-md-6 col-md-offset-3">
       <div class="wrapper">
         <h1>My Contacts</h1>
         <div ng-model="Validations">{{Validations.name + " " + Validations.number}}</div>
         <form ng-submit="addContact()">
             Name:
           <input type="text" class="form-control" ng-model="name">
           Phone Number: (xxx-xxx-xxxx)
           <input type="text" class="form-control" ng-model="number">
           <button ng-click="addContact(); isValidPhone()">Submit</button>
         </form>
         <ol>
           <li ng-repeat="contact in contacts">{{contact}}</li>
         </ol>
       </div>
     </div>
   </div>
 </div>
</body>
</html>