<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TodoApp</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./style.css">
	<script src="http://code.jquery.com/jquery-latest.js"></script> 
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script src="./script.js"></script>
	<script src="./submissionform.js"></script>
</head>
<body ng-app="TodoApp" ng-controller="MainCtrl">
	<div class="container">
		<div class="wrapper">
			<h1>My Contacts</h1>
			<form ng-submit="addItem()">
				<input type="text" class="form-control" ng-model="newItem">
				<div class="row">
					phone <input type="text" class="form-control" ng-model="phone">
				</div>	
			</div>
			<div class="row">
				email <input type="text" class="form-control" ng-model="email">
			</div>
			<div class="row">
				name <input type="text" class="form-control" ng-model="name">
			</div>
			<div class="row">
			</form>
			<ol>
				<li ng-repeat="item in items">{{item}}</li>
			</ol>
		</div>
	</div>
</div>
</div>
</body>
</html>